* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    max-width: 1500px;
	margin-left: auto;
	margin-right: auto;
}

/*styling for the body of the app*/
body {
    font-size: 0.75rem;
    box-sizing: border-box;
    color: #313131;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

/*Styling for the welcome message using username*/
#welcomeText {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

/*If dark mode is chosen the colour scheme of the webpage changes the background 
colour and the text*/
.dark-mode {
    background-color: rgb(31, 3, 50);
    color: white;
}

/*Styling for the light/dark mode image*/
.nightday {
    position: absolute;
    left: 23px;
    top: 25px;
}

.descriptor {
    position: absolute;
    left: 12px;
    top: 5px;
}

/*Image for the brain at thetop of page*/
.brain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

/*Styling for the main heading on page*/
.heading {
    text-align: center;
    font-size: 2.2rem;
    color: #e91e63;
    letter-spacing: 6px;
    font-family: 'Merriweather', serif;
    text-shadow: #fff 2px 2px 3px;
    font-weight: 800;
    margin-bottom: 15px;
}

/*styling for quick blurb introducing quiz*/
.center-message {
    text-align: center;
    width: 60%;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(88, 5, 64, 0.4);
    border-radius: 15px;
    padding: 20px;
    border: 5px solid white;
}

.wrapper {
    text-align: center;
    display: block;
}

/*Styling for the start button, that starts the game*/
.controls {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

#start-btn,
#next-btn,
#restart-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #81044D;
    width: 120px;
    height: 40px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    border: 2px solid black;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

#start-btn:hover,
#next-btn:hover {
    background-color: #47032b;
}

/*styling for any sundry text within the application*/
.center {
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Each individual answer box for displaying the options to the user*/
.choice-container {
    height: 100px;
    width: 380px;
    border: 5px solid white;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(125, 124, 125);
    margin-bottom: 10px;
    justify-content: space-between;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

button {
    display: block;
    font: .75rem;
    text-align: center;
}

.choice-container:hover {
    border: 8px solid rgb(233, 123, 233);
    background-color: rgb(194, 95, 201);
}

.hide {
    display: none;
}

/*Used to hide the gaming area before the user presses the start button*/
#hidden {
    display: none;
}

/*styling for the information panel relating to the category and difficulty level to the game*/
.informationForQuestion {
    background-color: rgba(185, 19, 135, 0.4);
    height: 130px;
    width: 340px;
    text-align: center;
    border: 5px solid white;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-weight: bold;
    line-height: 1;
    margin-top: 15px;
}

/*Styling for Text for Category and Difficulty in information for questions*/
#category,
#difficulty {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Styling for the Question*/
.question-container {
    text-align: center;
    width: 65%;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Styling for showing the Correct Answer to the User*/
#verify-answer {
    color: green;
    font-weight: Bold;
    font-size: .8rem;
    text-transform: uppercase;
    background-color: white;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 330px;
    height: 80px;
    margin-bottom: 10px;
    text-align: center;
}

/*Styling for the Scoring section*/
.score-area {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Styling for Modal Buttons*/
.pink-buttons {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #81044D;
    color: white;
    font-size: 1rem;
    height: 40px;
    width: 110px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.pink-buttons:hover {
    background-color: #47032b;
}

/*Styling for the Modals*/
.modal,
.modal2 {
    padding: 1em;
    max-width: 50ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .4);
    background-color: rgb(230, 91, 230);
    color: black;
    opacity: 0.8;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.4);
}

/*Fix for aligment of items in radio buttons*/
label::after {
    content: '\a';
    white-space: pre;
}

/*Styling for Closing message, which shows the result and a supportive comment*/
.closing {
    background-color: white;
    height: 80px;
    width: 350px;
    border-radius: 15px;
    font-size: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #313131;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

#closing-message {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1rem;
}

.button-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    height: 140px;
    background-color: #8e399b;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

footer p {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.3rem;
    padding: 5px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 1.3rem;
    margin: 2%;
    color: #fff;
}

#error-message {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    
}

.error {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.dog {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 15px;
}

/* *******************For small screen sizes 800px and down *************************************************/

@media screen and (max-width: 600px) {
    .choice-container {
        width: 80%;
        height: 80px;
        font-size: .75rem;
    }
}