/*styling for the body of the app*/
body {
    /*  background-color: #280a30;*/
    background-color: white;
    font-size: 0.75rem;
    box-sizing: border-box;
    color: #313131;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

/*Styling for the welcome message using username*/
#welcomeText {
    font-size: 1.1rem;
    font-weight: 800;
    margin-left: 10px;
    font-family: 'Arima Madurai', cursive;
}

/*If dark mode is chosen the colour scheme of the webpage changes*/
.dark-mode {
    background-color: rgb(31, 3, 50);
    color: white;
}

/*Styling for the light/dark mode image*/
.nightday {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

/*Image for the brain at thetop of page*/
.brain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

/*Styling for the main heading on page*/
.heading {
    text-align: center;
    font-size: 2.5rem;
    color: #e91e63;
    letter-spacing: 5px;
    font-family: 'Calistoga', cursive;
    text-shadow: #fff 2px 2px 3px;
}

/*styling for quick blurb introducing quiz*/
.center-message {
    text-align: center;
    width: 50%;
    font-size: 1.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(88, 5, 64, 0.4);
    border-radius: 15px;
    padding: 20px;
    border: 5px solid white;
}

/*Styling for the start button, that starts the game*/
.controls {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

#start-btn,
#next-btn,
#restart-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #e91e63;
    width: 120px;
    height: 40px;
    font-size: 1rem;
    text-align: center;
    border-radius: 15px;
    border: 2px solid black;
    text-transform: uppercase;
    text-decoration: none;
}

#start-btn:hover,
#next-btn:hover {
    background-color: rgba(185, 19, 135, 0.4);
}

/*styling for any sundry text within the application*/
.center {
    text-align: center;
    width: 50%;
    font-size: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Each individual answer box for displaying the options to the user*/
.choice-container {
    height: 80px;
    width: 410px;
    border: 5px solid white;
    border-radius: 15px;
    font-size: 1.3rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /*box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);*/
    cursor: pointer;
    vertical-align: middle;
    background-color: rgba(199, 181, 181, 0.3);
    align-content: center;
    margin-bottom: 10px;
    justify-content: space-between;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

button {
    display: block;
    font: .75rem;
    text-align: center;
}

.choice-container:hover {
    border: 8px solid rgb(233, 123, 233);
    background-color: rgb(194, 95, 201);
}

/*.choice-container:selected {
    border: 8px solid rgb(190, 15, 190);      
    background-color: rgb(25, 14, 26); 
}*/

.hide {
    display: none;
}

/*Used to hide the gaming area before the user presses the start button*/
#hidden {
    display: none;
    visibility: none;
}

/*styling for the information panel relating to the category and difficulty level to the game*/
.informationForQuestion {
    background-color: rgba(185, 19, 135, 0.4);
    height: 110px;
    width: 340px;
    text-align: center;
    border: 5px solid white;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-weight: bold;
    line-height: 1.5;
}

/*Styling for Text for Category and Difficulty in information for questions*/
#category,
#difficulty {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
}

/*Styling for the Question*/
.question-container {
    text-align: center;
    width: 50%;
    font-weight: bold;
    font-size: 1.1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Styling for showing the Correct Answer to the User*/
#verify-answer {
    color: green;
    font-weight: Bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    background-color: white;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 350px;
    height: 60px;
    margin-bottom: 10px;
    text-align: center;
}

/*Styling for the Scoring section*/
.score-area {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 15px;
    font-weight: bold;
}

/*Styling for Modal Buttons*/
.pink-buttons {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #e91e63;
    color: white;
    height: 40px;
    width: 100px;
}

/*Styling for the loader*/
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid pink;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Styling for the Modals*/
.modal,
.modal2 {
    padding: 1em;
    max-width: 50ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    background-color: rgb(230, 91, 230);
    color: black;
    opacity: 0.8;
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.4);
}

/*Fix for aligment of items in radio buttons*/
label::after {
    content: '\a';
    white-space: pre;
}

/*Styling for Closing message, which shows the result and a supportive comment*/
.closing {
    background-color: white;
    height: 130px;
    width: 400px;
    border-radius: 15px;
    font-size: 1.4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #313131;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-family: 'Arima Madurai', cursive;
    font-weight: bold;
}

#closing-message {
    font: 1rem sans-serif;
}

/*Styling for the footer*/
.footer {
    text-align: center;
    background-color: black;
    height: 100px;
    vertical-align: middle;
    font-size: 2rem;
    letter-spacing: 10px;
    padding: 50px;
    width: 100%;
    margin-bottom: 0;
}